body {
    font-family : "Open Sans", sans-serif;
    font-style  : normal;
    font-weight : 600;
    position    : relative;
    font-size   : 14px;
    min-height  : 100vh;
    min-width   : 100vw;
    margin      : 0;
    overflow    : hidden;
    background  : #ffffff;
}

#root {
    overflow-x : auto;
    min-height : 100vh;
}

h1, h2 {
    margin  : 0;
    padding : 0;
}

@import "header";
@import "button";
@import "input";
@import "icon";

@import "pages/auth";
@import "pages/registration";
@import "pages/confirmed";
@import "pages/forgetpass";
